## Administrative

set hyper parameters

In [1]:
root_path = '/home/fqaiser94/KKBOX/Data'

load packages

In [5]:
import pandas as pd
import dask
import missingno

ImportError: No module named 'pyparsing'

load data

In [6]:
temp_path = root_path + '/train.csv'
train = dd.read_csv(filepath_or_buffer = temp_path)

train.head()

AttributeError: module 'dask' has no attribute 'read_csv'

In [5]:
temp_path = root_path + '/members.csv'
members = pd.read_csv(filepath_or_buffer = temp_path)

members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,URiXrfYPzHAlk+7+n7BOMl9G+T7g8JmrSnT/BU8GmEo=,1,0,NaN,9,20150525,20150526
1,U1q0qCqK/lDMTD2kN8G9OXMtfuvLCey20OAIPOvXXGQ=,1,0,NaN,4,20161221,20161224
2,W6M2H2kAoN9ahfDYKo3J6tmsJRAeuFc9wl1cau5VL1Q=,1,0,NaN,4,20160306,20160309
3,1qE5+cN7CUyC+KFH6gBZzMWmM1QpIVW6A43BEm98I/w=,5,17,female,4,20161031,20161107
4,SeAnaZPI+tFdAt+r3lZt/B8PgTp7bcG/1os39u4pLxs=,1,0,NaN,4,20170202,20170205

In [6]:
temp_path = root_path + '/transactions.csv'
transactions = pd.read_csv(filepath_or_buffer=temp_path
                           #, nrows=1000000
                          )

transactions.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [7]:
temp_path = root_path + '/sample_submission_zero.csv'
sample_submission = pd.read_csv(filepath_or_buffer = temp_path)

sample_submission.head()

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         0
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         0
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         0
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         0
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         0

## EDA

data summaries

In [8]:
train.describe()

            is_churn
count  992931.000000
mean        0.063923
std         0.244616
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [9]:
members.describe()

,city,bd,registered_via,registration_init_time,expiration_date
count,5.116194e+06,5.116194e+06,5.116194e+06,5.116194e+06,5.116194e+06
mean,4.019725e+00,9.772362e+00,5.248127e+00,2.014631e+07,2.015981e+07
std,5.590289e+00,1.795875e+01,2.260226e+00,2.308540e+04,1.254307e+04
min,1.000000e+00,-6.998000e+03,3.000000e+00,2.004033e+07,1.970010e+07
25%,1.000000e+00,0.000000e+00,4.000000e+00,2.014103e+07,2.015111e+07
50%,1.000000e+00,0.000000e+00,4.000000e+00,2.015111e+07,2.016070e+07
75%,5.000000e+00,2.100000e+01,7.000000e+00,2.016061e+07,2.017061e+07
max,2.200000e+01,2.015000e+03,1.600000e+01,2.017071e+07,2.100010e+07

In [10]:
transactions.describe()

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
count,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07,2.154775e+07
mean,3.893310e+01,3.133906e+01,1.398850e+02,1.419873e+02,8.519661e-01,2.015760e+07,2.015862e+07,3.976523e-02
std,3.507936e+00,3.035649e+01,1.309647e+02,1.324824e+02,3.551336e-01,6.155979e+03,7.755753e+03,1.954072e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015010e+07,1.970010e+07,0.000000e+00
25%,3.800000e+01,3.000000e+01,9.900000e+01,9.900000e+01,1.000000e+00,2.015091e+07,2.015102e+07,0.000000e+00
50%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016032e+07,2.016043e+07,0.000000e+00
75%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016092e+07,2.016103e+07,0.000000e+00
max,4.100000e+01,4.500000e+02,2.000000e+03,2.000000e+03,1.000000e+00,2.017023e+07,2.017033e+07,1.000000e+00

visualize missing-ness